
{% extends 'userdash.html' %} {% block main %}

<div>
  <colgroup>
    <col span="50%" />
  </colgroup>
  <h1 class="text-center my-4">Do pose here (Camera Feeds)</h1>
  <div class="row border border-3 border-dark mx-3">
    <div class="col-md-6 d-flex align-items-center justify-content-center"><img src="{{ url_for('video_feed') }}" width="640" height="480" /></div>
    <div class="col-md-6 d-flex align-items-center justify-content-center">
      <img
        style="justify-content: center; height: 300x; width: 400px"
        src="/../static/refImages/{{username}}/{{filename}}"
        alt="No Image Uploaded"
      />
    </div>
  </div>
</div>

{% endblock %}

