<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Camera Feed</title>
</head>
<body>
    
   


<table>
    <colgroup>
        <col span="50%">
    </colgroup>
    <tr>
        <th> <img src="{{ url_for('video_feed') }}" width="640" height="480" /></th>
        <th style="justify-content: center; display: flex; margin-top: 20%;">
            <img style="justify-content: center; height: 300x; width: 400px;" src="../static/images/S2.jpg" alt="No Image Uploaded">
        
        </th>
    </tr>

</table>



</body>
</html>
